@model demo5.Models.UserRegClass

@{
    ViewData["Title"] = "Create";
}

<h1>Register</h1>

<h4>Create Account</h4>
<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HashedPassword" class="control-label">Password</label>
                <input asp-for="HashedPassword" class="form-control" />
                <span asp-validation-for="HashedPassword" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
           @ViewData["Message"]
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
