@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">
            @TempData["Message"].ToString()
        </div>
    }
</div>
